const InboxHeading = () => (
  <h4 data-node-id="inbox-heading">
    Inbox
  </h4>
);

const SomewhereElse = () => {
  const inboxHeadingNode =
    document.querySelector(
      '[data-node-id=inbox-heading]'
    )
};
