class Projectile extends PureComponent {
  static propTypes = {
    x: PropTypes.number.isRequired,
    y: PropTypes.number.isRequired,
    children: PropTypes.node,
  }

  previousCoordinate = null;

  componentDidUpdate(prevProps) {
    this.previousCoordinate = {
      x: prevProps.x,
      y: prevProps.y
    };
  }

  getRotation = () => {
    if (!this.previousCoordinate) {
      return 0;
    }

    const { x, y } = this.props;

    const deltaX =
      x - this.previousCoordinate.x;
    const deltaY =
      y - this.previousCoordinate.y;

    return Math.atan2(
      deltaY,
      deltaX
    );
  };

  render() {
    const { x, y, children } = this.props;

    const rotation = this.getRotation();

    return (
      <div
        style={{
          position: 'absolute',
          top: x,
          left: y,
          transform: `rotate(${rotation}rad)`,
        }}
      >
        {children}
      </div>
    );
  }
}

export default Projectile;
