class File extends PureComponent {
  lastCoordinates = [];

  componentDidUpdate(prevProps) {
    this.lastCoordinates.push({
      x: prevProps.x,
      y: prevProps.y
    });

    if (this.lastCoordinates.length > 8) {
      this.lastCoordinates.shift();
    }
  }

  getFileRotation = () => {
    if (this.lastCoordinates.length === 0) {
      return 0;
    }

    const { x, y } = this.props;

    const previousCoordinate =
      this.lastCoordinates[0];

    const deltaX = x - previousCoordinate.x;
    const deltaY = y - previousCoordinate.y;

    // angle in degrees
    const angleInRads = Math.atan2(deltaY, deltaX);
    return (angleInRads * 180) / Math.PI;
  };

  render() {
    const { x, y } = this.props;

    const rotation = this.getFileRotation();

    return (
      <Wrapper
        x={x}
        y={y}
        rotation={rotation}
      >
        <svg height={30}>
          {/* ✨ SVG things ✨ */}
        </svg>
      </Wrapper>
    );
  }
}

const Wrapper = styled.div.attrs({
  style: props => ({
    transform: `
      translate(
        ${props.x}px,
        ${props.y}px
      )
      rotate(${props.rotation}deg)`,
  }),
})`
  position: absolute;
  top: 0;
  left: 0;
`;

export default File;
