import {
  NodeProvider,
  NodeConsumer,
} from '../NodeContext';

class App extends Component {
  render() {
    return (
      <NodeProvider>
        {/* Rest of your app here */}
      </NodeProvider>
    );
  }
}

const OutboxHeading = () => (
  <NodeConsumer>
    {({ refCapturer }) => (
      <h4 ref={refCapturer('outboxHeading')}>
        Outbox
      </h4>
    )}
  </NodeConsumer>
);

const SomewhereElse = () => (
  <NodeConsumer>
    {({ nodes }) => {
      // At any point in the tree, you can
      // access any captured node refs,
      // eg. `nodes.outboxHeading`.
    }}
  </NodeConsumer>
);
